/* Set the font family */
body {
    font-family: Arial, sans-serif;
}

/* Set the background color */
body {
    background-color: #FFFFFF;
}

/* Set the color for all links */
a {
    color: #FF0000;
}

/* Set the styles for the header */
header {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-family: serif;
    text-align: center;
    color: red;
}

/* Set the styles for the navigation menu */
nav {
    margin-bottom: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #FF0000;
}

/* Set the styles for the main content */
main {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

/* Set the styles for the images */
img {
    width: 100%;
    border: 5px solid black;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
}

/* style every other image */
img:nth-of-type(2n) {
    border-color: red;
    border-radius: 20px;
}

/* Set the styles for the footer */
footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

/* Set the styles for the "Thanks for visiting" message */
.thanks {
    font-style: italic;
    margin-bottom: 10px;
}

/* Set the styles for the "Back to Top" link */
a[href="#main"] {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}


.literature h2 {
    color: #FF0000;
}


.history h2 {
    color: #FF0000;
}


.femdict h2 {
    color: #FF0000;
}


.literature main,
.history main,
.femdict main {
    background-color: #FFFFFF;
    font-size: 1.25rem;
}


.literature div,
.history div,
.femdict div {
    border: 1px solid #FF0000;
    background-color: #FFFFFF;
    padding: 10px;
}

dt {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

dd {
    margin-bottom: 20px;
}